/* Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

}

:root {

    --font-family: 'Mulish';
    --font-size: 20vw;
    --color: #000000;
    --background-color: #EAE2B7;

}

div#clock {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--background-color);
}

p.container {
    font-size: var(--font-size);
    font-family: var(--font-family);

    margin: 0;
}

/* Responsive */
@media screen and (max-width: 1000px) {
    
    /* Hide the dots */
    span.seperator {
        display: none;
    }

    /* Make it vertical */
    span.count {
        display: block
    };

}
